@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500&display=swap%27%29%3B');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    overflow-y: hidden;

}
.co{
    height: 100vh;
    width: 100%;
    background-image: url("images/gg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;
    position: absolute;


    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}


@keyframes animate{
    0%{
        background-image: url("images/n.jpg");
    }20%{
        background-image: url("images/qq.jpg");
    }40%{
        background-image: url("images/k.jpg");
    }60%{
        background-image: url("images/g.jpg");
    }80%{
        background-image: url("images/vv.jpg");
    }100%{
        background-image: url("images/g.jpg");
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}



h2{
    text-align: center;
}

.box{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 35px 30px 20px 30px;
    height: 470px;
    width: 450px;
    background-color: rgba(255, 220, 220,0.5);
    border-radius: 25px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid rgba(146, 128, 128, 0.4);
   
}


.header h2{
    font-size: 30px;
    font-weight: 600;
}

.input{
    width: 100%;
}

.input-field{
    margin: 20px 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.input-box{
    width: 95%;
    height: 40px;
    font-size: 16px;
    border: none; 
    border-radius: 10px;
    padding: 8px 15px 10px 20px;
    background:  rgba(211, 173, 173, 0.8);
    backdrop-filter: blur(2px);
    outline: none;
    
}

.input-field ::placeholder{
     left: 50px;
    font-size: 15px;
    color: rgb(92, 89, 89);
}

img{
   width: 20px;
   position: absolute;
   top: 10px;
    right: 37px;
    cursor: pointer;
}



/* .remember{
    font-size: 15px;
    margin: 0 2px 25px 2px;
} */

#submit{
    font-size: 20px;
    margin-left: 5px;
    width: 150px; height: 40px;
    font-weight: bold;
    box-shadow: 0px 4px 20px rgb(63, 9, 9,0.145);
    cursor: pointer;
    transition: .4s;
}


.newAcc{
    margin-top: 25px;
    margin-left: 20px;
}